
<style>
* {
				box-sizing: border-box;
			}

body{
background-image:url("watercolor.jpg");
background-repeat: no-repeat;
background-position: center;
background-size: 150%;
margin: 20px;
text-align: center;
}
h1 {
border: 2px dotted blue;
text-align: left;
padding: 10px 15px;
margin: 0 auto 20px;
width: 250px;
font-family: "Lucida Console", "Courier New", monospace;
}
p{
background-color: hsl(198, 42%, 73%);
font-style: italic;
padding: 20px;
width: 500px;
border-width: 3px 5px 3px 1px;
border-style: solid;
border-color: black;
margin: 0 auto;
}
span{
font-weight: bold;
font-style: italics;
color: rgb(192, 119, 255);
margin: 2px 5px;
}
</style>
</html>